<a href="https://colab.research.google.com/github/prasadsawant7/Python_Practicals/blob/main/Practical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
# Integer
a = 10
print(f"a = {a}", f"\nType: {type(a)}")

a = 10
Type: <class 'int'>

In [41]:
# Float
PI = 3.1428
print(f"PI = {PI}", f"\nType: {type(PI)}")

PI = 3.1428
Type: <class 'float'>

In [42]:
# Complex Number
comp = 29 + 5j
print(f"comp = {comp}", f"\nType: {type(comp)}")

comp = (29+5j)
Type: <class 'complex'>

In [43]:
# String
msg = "Hello World"
print(f"msg = {msg}", f"\nType: {type(msg)}")

msg = Hello World
Type: <class 'str'>

In [44]:
# List
nums = [10, 20, 30, 40, 50]
print(f"nums = {nums}", f"\nType: {type(nums)}")

fruits = ["apple", "banana", "cherry"]
print(f"fruits = {fruits}", f"\nType: {type(fruits)}")

mix = ["John Doe", 19, 98.20, [400037, "Mumbai", "Maharashtra", "India"]]
print(f"mix = {mix}", f"\nType: {type(mix)}")

nums = [10, 20, 30, 40, 50]
Type: <class 'list'>
fruits = ['apple', 'banana', 'cherry']
Type: <class 'list'>
mix = ['John Doe', 19, 98.2, [400037, 'Mumbai', 'Maharashtra', 'India']]
Type: <class 'list'>

In [45]:
# Tuple
tup = (0, 2, 4, 6, 8, 10, "Even Numbers")
print(f"tup = {tup}", f"\nType: {type(tup)}")

tup = (0, 2, 4, 6, 8, 10, 'Even Numbers')
Type: <class 'tuple'>

In [46]:
# Sets
emp_id = {10001, 10002, 10003, 1004, 1005}
print(f"emp_id = {emp_id}", f"\nType: {type(emp_id)}")

emp_id = {1004, 1005, 10001, 10002, 10003}
Type: <class 'set'>

In [47]:
# Dictionary
employee = {
    "emp_id": 1001,
    "emp_name": "John Doe",
    "emp_dept": "Development Team",
    "emp_salary": 80_000.00
}
print(f"employee = {employee}", f"\nType: {type(employee)}")

employee = {'emp_id': 1001, 'emp_name': 'John Doe', 'emp_dept': 'Development Team', 'emp_salary': 80000.0}
Type: <class 'dict'>

In [48]:
# Control Statements
# If Else Elif
age = int(input("Enter age: "))
if age >= 30:
  print("You are millenium!")
elif age<30:
  print("You are Gen-Z")
else:
  print("You aren't anything!")

Enter age: 19
You are Gen-Z

In [49]:
# Loops
# For Loop
array = [10, 20, 30, 40 ,50]
key = 30
for i in array:
  if i == key:
    print(f"{i} found!")
    break
  else:
    continue

30 found!

In [50]:
# While Loop
nums = range(0, 21)
i = 0
while i < len(nums):
  print(nums[i])
  i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20